.button{
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5777ce;
    border-radius: 6px;
    border: none;
    outline: 0;
    font-family: 'Inter Regular';
    font-size: 14px;
    color:#000
}