.footer{
    margin-top: 60px;
    height: 135px;
    background-color: #1c911c;
}
.block__div {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
    width: 240px;
    height: 120px;
}

.block__div p{
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Inter Medium';
    font-size: 14px;
    line-height: 1.2px;
    display: flex;
}

.block__div ul{
margin-top: 20px;
padding-left: 0px;
display: flex;
flex-direction: column;
}

@media screen and (max-width: 768px) {
    .footer{
        margin-top: 60px;
        height: 135px;
        background-color: #1c911c;
        width: 768px;
    }
    .block__div {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-top: 10px;
        width: 240px;
        height: 120px;
    }
    
    .block__div p{
        margin-top: 10px;
        margin-bottom: 0px;
        font-family: 'Inter Medium';
        font-size: 14px;
        line-height: 1.2px;
        display: flex;
    }
    
    .block__div ul{
    margin-top: 20px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    }
}